@model SchoolProject.Models.Classes

@{
    ViewBag.Title = "Show";
}

<h2>Class Id: @Model.ClassId</h2>
<p>Class Name: @Model.ClassName</p>
<p>Class Code: @Model.ClassCode</p>
<p>Teacher: @Model.TeacherId</p>
<p>Start Date: @Model.StartDate</p>
<p>FinishDate: @Model.FinishDate</p>