@model SchoolProject.Models.Teacher

@{
    ViewBag.Title = "Show";
}

<a href="/Teacher/ConfirmDelete/@Model.TeacherId">Delete</a>

<h2>Teacher: @Model.TeacherId</h2>
<p>First Name: @Model.TeacherFname</p>
<p>Last Name: @Model.TeacherLname</p>
<p>Employee Number: @Model.EmployeeNumber</p>
<p>Hire Date: @Model.HireDate</p>
<p>Salary: @Model.Salary</p>


