@model SchoolProject.Models.Student

@{
    ViewBag.Title = "Show";
}

<h2>Student: @Model.StudentId</h2>
<p>First Name: @Model.StudentFname</p>
<p>Last Name: @Model.StudentLname</p>
<p>Student Number: @Model.StudentNumber</p>
<p>Enrol Date: @Model.EnrolDate</p>
